
* {
    margin: 0;
    box-sizing: border-box;
}

.phone-email{
    color: #FFF;
    font-family: 'Poppins';
    font-size: 28px!important;
    font-weight: 600;   
    display: flex;
    width: 65%;
    display: flex;
    justify-content: space-between;
}

footer{
    justify-content: space-between;
    display: flex;
    align-items: center;
    max-width: 85%;
    margin: auto;
    padding-bottom: 80px;
}

.footer-social-media {
    display: flex;
    gap: 25px;
}

.footer-social-media img {
    width: 52px;
    height: 52px;
}

@media (max-width:1440px) {
    .phone-email {
        font-size: 24px!important;
    }

    .footer-social-media img {
        width: 42px;
        height: 42px;
    }

    footer{
        padding-bottom: 60px;
    }
}

@media (max-width:1366px) {
    .phone-email {
        font-size: 22px!important;
    }

    .footer-social-media {
        gap: 20px;
    }

    .footer-social-media img {
        width: 32px;
        height: 32px;
}

    footer{
        padding-bottom: 50px;
    }
}

@media (max-width:1116px) {
    .phone-email{
        flex-direction: column;
    }

    .phone-email {
        font-size: 16px !important;
    }
}

@media (max-width:991px) {
    .phone-email{
        flex-direction: column;
    }
}

@media (max-width:768px) {
    footer{
        max-width: 88%;
    }

    .footer-social-media img {
        width: 28px;
        height: 28px;
    }

    footer {
        padding-bottom: 30px;
    }
}

@media (max-width:576px) {
    footer{
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }
}

